
<!--حفحة اختيار المدينة التي تود الذهاب االيها-->
<section >
    <div  class="container">
         <div class="row">
             <div class="col-xs-12">
                <div class="text-center bounceIn ">
                    <p class="rmaFont">ابحث عن كتابك
                    </p>
                </div>
            </div>
         </div>
    </div>

</section >

<section id="works" class="works section no-padding">
    <div class="container" >
        <div class="row ">
            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/1.jpg" alt="">
                <div class="overlay">
                    <div class="marstyle" >
                        <h5>{{car.nameofcar}}</h5>
                        <p>{{car.aboutcar}}</p>
                        <h6>{{car.model}}</h6>
                        <h6>price {{car.prize}}</h6>
                        <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                    </div>
                </div>
                <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/2.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/3.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/4.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/5.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/6.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/7.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/8.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

            <div class=" col-md-4 col-sm-6 col-xs-12 work"   style="width:30%;height:250px;">
                <a  class="work-box"> <img ng-src="imges/mycar/9.jpg" alt="">
                    <div class="overlay">
                        <div class="marstyle" >
                            <h5>{{car.nameofcar}}</h5>
                            <p>{{car.aboutcar}}</p>
                            <h6>{{car.model}}</h6>
                            <h6>price {{car.prize}}</h6>
                            <button class="btn-danger btnpuy" style="margin-left:35%;padding:5px;font-size:17px;font-weight:bold;" ng-click="openpuy()">Puy</button>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

        </div>
    </div>
</section>


<section >

<!--footer-->


<div class="footer">
    <div class="container">
        <span  class="hederspan1" >مكتبة </span><span class="hederspan2" style="color: #ffffff;">المؤمن</span>
        <p class="text-center font3">كتب ممتعه وقيمة جدا </p>
        <div class="row tm-footer">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">

                <div class="tm-social-icons-container footerr" >
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-facebook tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-google-plus tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-twitter tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-behance tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-linkedin tm-social-icon"></i></a>
                </div>

            </div>

            <footer class="col-xs-12  text-xs-center">
                <p class="text-center" style="margin-top:20px;">Copyright &copy; 2018 Group5</p>
            </footer>

        </div>

    </div>
</div>
</section>