
<section>

    <div  class="container">
        <div class="text-center bounceIn ">
            <p class="farhFont" style="background-color:#ffffff;color:blue"> فــــــــروع مكتبة المؤمــــــن</p>
        </div>

        <div class="form-group well">
            <div class="menue2" align="center">
                <ul>
                    <li><a >فرع الخرطـــوم</a></li>
                    <li><a >الفرع شرق النيل</a></li>
                    <li><a >فرع امدرمــــان</a></li>
                    <li><a >فرع بحري المحطي الوسطي</a></li>

                </ul>
            </div>
        </div>

    </div>



</section>


<div class="footer">
    <div class="container">
        <span  class="hederspan1" >مكتبة </span><span class="hederspan2" style="color: #ffffff;">المؤمن</span>
        <p class="text-center font3">كتب ممتعه وقيمة جدا </p>
        <div class="row tm-footer">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-xs-center">

                <div class="tm-social-icons-container footerr" >
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-facebook tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-google-plus tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-twitter tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-behance tm-social-icon"></i></a>
                    <a href="#" class="tm-social-icon-link-brown"><i class="fa fa-linkedin tm-social-icon"></i></a>
                </div>

            </div>

            <footer class="col-xs-12  text-xs-center">
                <p class="text-center" style="margin-top:20px;">Copyright &copy; 2018 Group5</p>
            </footer>

        </div>

    </div>
</div>
